<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">
            <div>
                <h2>Rated R</h2>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/gallery">Gallery</a>
            </div>
         </div>  
     
         <div class="aboutbg">
             <h1 class="about-title">Music under your Feet</h1>
        </div> 
        
        <div class="aboutcontent">
            <div class="aboutchild">
                <!-- Put h1 tag for these -->
                <h1>A FEW WORDS</h1>
                
                <!-- Put h1 tag for these -->
                 <h1>ABOUT RATED R</h1>
                
                <!-- Put p tag for these -->
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis adipisci, provident sint distinctio, incidunt repellat, tempore accusantium accusamus numquam ut amet ad natus maxime</p>
                
                 <!-- Put p tag for these -->
                <p>consequuntur eligendi culpa sequi vitae asperiores. Consequatur vel consectetur, dicta sapiente officiis praesentium soluta culpa excepturi.</p>
                
                <!-- Create a button -->
                <!-- https://www.w3schools.com/tags/tag_button.asp -->
                
                <button class="btnred" type="button">Book now</button>
                
            </div>    
            <div class="aboutchild">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Mary_Timony_Plays_Helium_with_Hospitality.jpg/1200px-Mary_Timony_Plays_Helium_with_Hospitality.jpg" width=400/>
            </div> 
        </div>   
        
    </body>
</html>