<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="navbar">
            <div>
                <h2>Rated R</h2>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/gallery">Gallery</a>
            </div>
         </div>  
      <!-- Repeat line 18-20 from about.html below this line -->
      <!-- Sharing Joy through Music -->
      <div class="aboutbg">
            <h1 class="about-title">Sharing Joy through Music</h1>
       <div> 
       <div class="gallerycontent">
           <img class="galleryimg" src="https://cdn4.vectorstock.com/i/1000x1000/29/93/musician-playing-music-together-music-band-vector-21602993.jpg" width=300/>
        <!-- Repeat line 23 below this line -->
        <!-- image link -> https://cdn2.vectorstock.com/i/1000x1000/09/61/musician-playing-music-together-music-band-vector-22690961.jpg -->
           <img class="galleryimg" src="https://cdn2.vectorstock.com/i/1000x1000/09/61/musician-playing-music-together-music-band-vector-22690961.jpg" width=300/> 
       </div>    
       
             
      
    </body>
</html>